{% extends "Connect_FMS/base.html" %}

{% block content %}

<!-- User creating an account for the first time  -->
<div id="page-content">
    <div class="container">
        <h3>About ConnectFMS</h3>
        <div class="col-md-6 col-sm-6" id= "aboutConnectfms">
            <div class="row">
                <p>
                    ConnectFMS is designed to break the communication barrier between Carnegie Mellon students &amp; faculty, and the staff at Facilities Management Services with regards to campus energy usage. <br> <br>

                    The Center for Building Performance and Diagnostics (CBPD) at the School of Architecture served as a client for the Software Development Project course (67-373) offered by the Information Systems department. Our team was assigned to develop a technological solution for our client's need to engage the campus community to conserve energy.  <br> <br>

                    We surveyed over 240+ students and 50+ staff/faculty to gauge the interest of the CMU body on issues related to campus energy consumption and future efforts to conserve energy on-campus. After presenting our results to CBPD and two FMS representatives, Marty and Steve, we concluded that there is a substantial disconnect between the student/faculty body and FMS, where information regarding campus energy usage or efforts to make the campus 'more green' are not made aware to the general CMU community. <br><br>

                    This is where ConnectFMS comes into play. Through this applications, students, faculty and staff can make posts on energy conservation issues they see around campus by taking a photo and writing a short description. Students, faculty and staff can consequently upvote/downvote on others' posts. Registered FMS staff will be able to view and address issues made through these posts and make statuses on campus initiatives to go green.
                </p>
            </div>
        </div>
        <h3>The Team</h3>
        <div class="col-md-6 col-sm-6" id= "aboutTeam">
            <div class="row">
                <h5>
                    <strong> Swathi Anand</strong> - Junior IS major and HCI minor<br>
                    <strong> Clara Shim</strong> - Senior IS major and HCI minor<br>
                    <strong> Ankur Toshniwal</strong> - Junior IS major and CS minor<br>
                    <strong> Leo Ying</strong> - Junior IS and HCI double major
                </h5>
            </div>
        </div>
    </div>
</div>


{% endblock %}

