{% extends 'Connect_FMS/base.html' %}
{% block content %}
<!--wrap the page content do not style this-->
<div id="page-content">
  <div class="fluid-container" >
    <div class="col-md-4 col-sm-6">
    <!-- Mobile Version -->
      {% for post in posts %}
        <div class="panel panel-default">
          <!-- <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Profiles</h4></div> -->
          <div class="panel-body">
            <div class="w88 dib">
              <h5 class="noborder nopadbot media-heading nomargbot">{{post.user.get_full_name}}</h5>
              <span id="datetimeofpost" class="ofh"> {{post.created_at|date:"g:i A"}} on {{post.created_at|date:"l, F j"}}</span>
            </div>
            <div class="w10 dib">
              <p> {{post.numvotes}} </p>
            </div>
            <hr>
            <p class="ofh"> <strong>{{post.location.full_location_name}}</strong></p>
            {% if not post.image %}
            {% else %}
              <div class="row">
                <a class="db thumbnail w88 center-block" href="{% url 'detail' 'post.id' %">
                  <img src="../{{ post.image.url }}" alt="yolo"></img>
                </a>
              </div>
            {% endif %}
            <div class="">
              <p> {{post.description}} </p>
            </div>
            <hr>
            <div style="margin-top: 15px;">
              {% if post.numcomments == 0 %}
              {% else %}
                <div class="center-block text-center morecomments">
                  <span>{{post.numcomments}} Comment{% if post.numcomments != 1 %}s{% endif %}</span>
                </div>
                <hr>
              {% endif %}
              {% for comment in post.getcomments %}
                <div class="row commentsrow hidden">
                  <h6 class="dib"> <strong>{{ comment.user.first_name}}</strong> </h6>
                  <h6 class="dib fwlighter" style="margin-bottom: 5px;"> {{ comment.description }} </h6>
                  <p id="datetimeofpost" class="ofh">
                    {{ comment.created_at|date:"g:i A"}} on {{comment.created_at|date:"l, F j" }}
                  </p>
                </div>
              {% endfor %}
              <script type="text/javascript">
                function submitComment(){
                  document.commentForm.submit();
                }
              </script>
              <div>
                <form enctype="multipart/form-data" name="commentForm" action="submit_comment">
                  <div style="margin-top: 15px;" class="center-block">
                    <label>{{ user.first_name }}:</label><input name="description" placeholder="Write a comment..." class="w80" style="margin-left: 10px; padding-left: 5px;" type="text" onkeydown="if (event.keyCode == 13) submitComment()"/>
                    <input style="display: none;" name="post" type="text" value="{{ post.id }}"/>
                  </div>
                </form>
              </div>
                <div class="row center-block">
                <!-- Cast a Vote -->
                  <form id= "voteup" enctype="multipart/form-data" action="post_vote" method= "post">
                    {% csrf_token %}
                    <input name="post_id" type="hidden" value="{{post.id}}"/>
                    <input name="user_id" type="hidden" value="{{user.id}}"/>
                    <input name="flag" type="hidden" value="1"/>
                    <button type ="submit" class='btn btn-default btn-sm'>Vote Up</button>
                  </form>
                  <form id= "votedown" enctype="multipart/form-data" action="post_vote" method="post">
                    {% csrf_token %}
                    <input name="post_id" type="hidden" value="{{post.id}}"/>
                    <input name="user_id" type="hidden" value="{{user.id}}"/>
                    <input name="flag" type="hidden" value="-1"/>
                    <button type ="submit" class='btn btn-default btn-sm'>Vote Down</button>
                  </form>
                </div>
            </div>
          </div>
        </div> 
      {% empty %}
        <h2>No Posts have been made in the newsfeed</h2>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /.container -->

 <script>
$(document).ready(function(){
  $(".morecomments").click(function(){
    var comment = $(".hidden");
    comment.toggleClass("hidden");
    $(this).toggleClass("hidden");
  });
});
</script>
{% endblock %}
