{% extends 'Connect_FMS/base.html' %}
{% block content %}
<!--wrap the page content do not style this-->
<div id="page-content">
  <div class="fluid-container" >
    <div class="col-md-4 col-sm-6">
    <!-- Mobile Version -->
    
    <!-- Populate newsfeed with posts! -->
      {% for post in posts %}
        <div class="panel panel-default">
          <!-- <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Profiles</h4></div> -->
          <div class="panel-body">
            <div class="w88 dib">
              <h5 class="noborder nopadbot media-heading nomargbot">{{post.user.get_full_name}}</h5>
              <span id="datetimeofpost" class="ofh"> {{post.created_at|date:"g:i A"}} on {{post.created_at|date:"l, F j"}}</span>
            </div>
            <div class="w10 dib">
              <p> {{post.numvotes}} </p>
            </div>
            <hr>
            <p class="ofh"> <strong>{{post.location.full_location_name}}</strong></p>
            {% if not post.image %}
            {% else %}
              <div class="row">
                <a class="db thumbnail w88 center-block" href="{% url 'detail' 'post.id' %">
                  <img src="../{{ post.image.url }}" alt="yolo"></img>
                </a>
              </div>
            {% endif %}
            <div class="">
              <p> {{post.description}} </p>
            </div>

            <!-- Cast a Vote -->        
            <div class="row center-block flr">
              <form class="dib" id= "voteup" enctype="multipart/form-data" action="post_vote" method= "post">
                {% csrf_token %}
                <input name="post_id" type="hidden" value="{{post.id}}"/>
                <input name="user_id" type="hidden" value="{{user.id}}"/>
                <input name="flag" type="hidden" value="1"/>
                {% if userVotes %}
                  {% for vote in userVotes %}
                    {% if vote.post_id == post.id %}
                      {% if vote.vote == 0 or vote.vote == -1 %}
                        <button id= "voteButton" type ="submit" class='btn btn-default btn-s'><i class="fa fa-thumbs-up"></i></button>
                      {% elif vote.vote == 1 %}
                        <button id= "voteButton" type ="submit" class='btn btn-default btn-s '><i id="votedUp"class="fa fa-thumbs-up"></i></button>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <button id= "voteButton" type ="submit" class='btn btn-default btn-s'><i class="fa fa-thumbs-up"></i></button>
                {% endif %}  
                {% if post.id not in postids %}
                  <button id= "voteButton" type ="submit" class='btn btn-default btn-s'><i class="fa fa-thumbs-up"></i></button>
                {% endif %} 
              </form>
              <form class="dib" id= "votedown" enctype="multipart/form-data" action="post_vote" method="post">
                {% csrf_token %}
                <input name="post_id" type="hidden" value="{{post.id}}"/>
                <input name="user_id" type="hidden" value="{{user.id}}"/>
                <input name="flag" type="hidden" value="-1"/>
                {% if userVotes %}
                  {% for vote in userVotes %}
                    {% if vote.post_id == post.id %}
                      {% if vote.vote == 0 or vote.vote == 1 %}
                        <button id= "voteButton" type ="submit" class='btn btn-default btn-s'><i class="fa fa-thumbs-down"></i></button>
                      {% elif vote.vote == -1 %}
                        <button id= "voteButton" type ="submit" class='btn btn-default btn-s'><i id= "votedDown"class="fa fa-thumbs-down"></i></button>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <button id= "voteButton" type ="submit" class='btn btn-default btn-s'><i class="fa fa-thumbs-down"></i></button>
                {% endif %} 
                {% if post.id not in postids %}
                  <button id= "voteButton" type ="submit" class='btn btn-default btn-s'><i class="fa fa-thumbs-down"></i></button>
                {% endif %} 
              </form>
            </div>
            <!-- End Casting a Vote -->

            <br><br>
            <hr>

            <!-- Comments Section -->
            <div style="margin-top: 15px;">
              {% if post.numcomments == 0 %}
              {% else %}
                <div class="center-block text-center morecomments">
                  <span>{{post.numcomments}} Comment{% if post.numcomments != 1 %}s{% endif %}</span>
                </div>
              {% endif %}
              {% for comment in post.getcomments %}
                <div class="row commentsrow hidden">
                  <h6 class="dib"> <strong>{{ comment.user.first_name}}</strong> </h6>
                  <h6 class="dib fwlighter" style="margin-bottom: 5px;"> {{ comment.description }} </h6>
                  <p id="datetimeofpost" class="ofh">
                    {{ comment.created_at|date:"g:i A"}} on {{comment.created_at|date:"l, F j" }}
                  </p>
                </div>
              {% endfor %}

              <div>
                <form enctype="multipart/form-data" name="commentForm" action="submit_comment" method="post"> 
                  {% csrf_token %}
                  <div style="margin-top: 15px;" class="center-block">
                    <label>{{ user.first_name }}:</label><input name="description" placeholder="Write a comment..." class="w80" style="margin-left: 10px; padding-left: 5px;" type="text" onkeydown="if (event.keyCode == 13) submit"/>
                    <input style="display: none;" name="post" value="{{ post.id }}"/>
                    <input style="display: none;" type="submit" value="OK">
                  </div>
                </form>
              </div>
            </div>
            <!-- End Comments Section -->

          </div>
        </div> 
      {% empty %}
        <h2>No Posts have been made in the newsfeed</h2>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /.container -->

 <script>
$(document).ready(function(){
  $(".morecomments").click(function(){
    var comment = $(".hidden");
    comment.toggleClass("hidden");
    $(this).toggleClass("hidden");
  });
});
</script>
{% endblock %}
