{% extends "Connect_FMS/base.html" %}

{% block content %}

<!-- User creating an account for the first time  -->
<div id="page-content">
    <div class="container">
        <div class= "row">
            <div class="col-md-6" id= "aboutapp">
                <h3>About ConnectFMS</h3>
                <p>
                    ConnectFMS is designed to break the communication barrier between Carnegie Mellon students &amp; faculty, and the staff at Facilities Management Services (FMS) with regards to campus energy usage. <br> <br>

                    The Center for Building Performance and Diagnostics (CBPD) at the School of Architecture served as a client for the Software Development Project course (67-373) offered by the Information Systems department. Our community partners, Azizan Aziz and Bertrand Lasternas, asked us to develop a technological solution to engage the campus community to conserve energy.  <br> <br>

                    We surveyed over 240+ students and 50+ staff/faculty to gauge the interest of the CMU body on issues related to campus energy consumption and future efforts to conserve energy on-campus. After presenting our results to CBPD and two FMS representatives, Marty and Steve, we concluded that there is a substantial disconnect between the student/faculty body and FMS, where information regarding campus energy usage or efforts to make the campus 'more green' are not made aware to the general CMU community. <br><br>

                    This is where ConnectFMS comes into play. Through this applications, students, faculty and staff can make posts on energy conservation issues they see around campus by taking a photo and writing a short description. Students, faculty and staff can consequently upvote/downvote on others' posts. Registered FMS staff will be able to view and address issues made through these posts and make statuses on campus initiatives to go green.
                </p>
            </div>
            <div class="col-md-6"  id="aboutTeam" >
                <h3>The Team</h3>
                <div class="row" id="aboutContainer">
                    <div class= "col-md-4">
                        <p>
                            <img src="../Connect_FMS/media/images/azizan.png"><br>
                            <strong> Azizan Aziz</strong> <br> Senior Research Architect at CBPD<br><br>
                            <img src="../Connect_FMS/media/images/swathi.png"><br>
                            <strong> Swathi Anand</strong> <br> Junior IS major and HCI minor<br><br>
                            <img src="../Connect_FMS/media/images/clara.png"><br>
                            <strong> Clara Shim</strong> <br> Senior IS major and HCI minor<br><br>
                        </p>
                    </div>
                    <div class= "col-md-4">
                        <p>
                            <img src="../Connect_FMS/media/images/bertrand.png"><br>
                            <strong>Bertrand Lasternas</strong> <br> Researcher at CBPD <br><br><br>
                            <img src="../Connect_FMS/media/images/ankur.png"><br>
                            <strong> Ankur Toshniwal</strong> <br> Junior IS major and CS minor<br><br>
                            <img src="../Connect_FMS/media/images/leo.png"><br>
                            <strong> Leo Ying</strong> <br> Junior IS and HCI double major
                        </p>
                    </div>
                </h5>
            </div>
        </div>
    </div>
</div>


{% endblock %}

